node_modules
.dist
dist
.env
.env.*
!.env.example
.DS_Store
examples/**/node_modules
examples/**/dist
examples/**/.env
!examples/**/.env.example
examples/**/.env.local
examples/**/.env.development.local
examples/**/.env.test.local
examples/**/.env.production.local
